.b_76294 .container-fluid .b_82761__ {
  transition: none;
}
.b_76294 .container-fluid .b_82761__ .container-fluid {
  background: #fff;
  position: relative;
}
.b_76294 .container-fluid .b_82761__ .mobile-menu-button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 55px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.b_76294 .container-fluid .b_82761__ .mobile-menu-button a {
  font-size: 18px;
  text-transform: uppercase;
  color: #adadad;
  width: 86%;
  position: relative;
  display: inline-block;
}
.b_76294 .container-fluid .b_82761__ .mobile-menu-button a:hover {
  text-decoration: none;
}
.b_76294 .container-fluid .b_82761__ .mobile-menu-button a span {
  display: inline-block;
  text-transform: none;
  width: 100%;
  line-height: 56px;
}
.b_76294 .container-fluid .b_82761__ .mobile-menu-button a .icon {
  position: absolute;
  top: 16px;
  right: 0;
}
.b_76294 .container-fluid .b_82761__ .container {
  transition: none;
  padding: 20px 0;
  color: #000;
  font-family: Arial;
  letter-spacing: -1em;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder {
  letter-spacing: normal;
  display: none;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder.active {
  z-index: 100;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu-drop {
  opacity: 0;
  position: fixed;
  z-index: 20;
  width: 0;
  height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  transition: opacity 300ms ease-in;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu-drop .close {
  display: none;
  cursor: pointer;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu {
  display: table;
  position: fixed;
  z-index: 30;
  top: 50%;
  left: -100%;
  height: 0;
  min-height: 0;
  width: 0;
  min-width: 0;
  max-height: none;
  opacity: 0;
  transition: left 200ms ease-out;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu.active {
  opacity: 1;
  height: auto;
  padding-top: 30px;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu.active + .mobile-menu-drop {
  width: 100%;
  height: 150%;
  bottom: -50%;
  top: 0;
  left: 0;
  right: 0;
  opacity: 1;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu.active + .mobile-menu-drop .close {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  color: #fff;
  z-index: 20;
  width: 35px;
  height: 35px;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu ul {
  text-align: center;
  line-height: 140%;
  float: none;
  display: table-cell;
  vertical-align: middle;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu ul li {
  display: block;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu ul li a {
  display: inline-block;
  width: 80%;
  max-width: 300px;
  font-size: 20px;
  padding: 15px 5px;
  border: 0;
  border-bottom: 1px solid #3a3a3a;
  color: #d6d6d6;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu ul li:last-child a {
  border-bottom: 0;
}
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu[data-color="default_color"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder .mobile-menu[data-color="default_color"] ul li a:hover {
  color: #fff;
}
.b_76294 .container-fluid .b_82761__ .container .logo-holder,
.b_76294 .container-fluid .b_82761__ .container .phone-holder,
.b_76294 .container-fluid .b_82761__ .container .menu-holder {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
}
.b_76294 .container-fluid .b_82761__ .container .logo-holder {
  width: 25%;
  min-width: 150px;
  margin-top: -1ex;
}
.b_76294 .container-fluid .b_82761__ .container .logo-holder.text .logo {
  display: table;
}
.b_76294 .container-fluid .b_82761__ .container .logo-holder.text .logo .company_name {
  font-size: 21px;
  line-height: 108%;
  display: table-cell;
  vertical-align: middle;
}
.b_76294 .container-fluid .b_82761__ .container .logo-holder .logo-tagline {
  width: 100%;
  display: block;
  margin-top: -2ex;
  font-family: "Open Sans", Arial, serif;
  font-size: 14px;
  color: #555;
  min-width: 275px;
}
.b_76294 .container-fluid .b_82761__ .container .logo-holder .logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 50px;
  max-height: 100%;
  min-width: 150px;
  max-width: 100%;
}
.b_76294 .container-fluid .b_82761__ .container .phone-holder {
  width: 250px;
}
.b_76294 .container-fluid .b_82761__ .container .menu-holder {
  width: calc(75% - 250px);
  max-width: calc(100% - 250px - 150px);
  padding-left: 20px;
}
.b_76294 .container-fluid .b_82761__ .container .menu,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu {
  float: right;
  overflow: hidden;
  min-width: 300px;
  max-width: 666px;
  min-height: 40px;
  max-height: 40px;
  line-height: 108%;
  text-align: right;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="default_color"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="default_color"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="default_color"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="default_color"] ul li a:hover {
  color: #7a7a7a;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="blue"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="blue"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="blue"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="blue"] ul li a:hover {
  color: #0187bc;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="green"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="green"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="green"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="green"] ul li a:hover {
  color: #3e9802;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="orange"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="orange"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="orange"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="orange"] ul li a:hover {
  color: #fd6f00;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="purple"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="purple"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="purple"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="purple"] ul li a:hover {
  color: #8c33d2;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="purple_light"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="purple_light"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="purple_light"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="purple_light"] ul li a:hover {
  color: #9581bf;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="rose"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="rose"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="rose"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="rose"] ul li a:hover {
  color: #f372a4;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="red"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="red"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="red"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="red"] ul li a:hover {
  color: #ce0707;
}
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="yellow"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="yellow"] ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu[data-color="yellow"] ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu[data-color="yellow"] ul li a:hover {
  color: #ffc415;
}
.b_76294 .container-fluid .b_82761__ .container .menu.menu-align-1,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu.menu-align-1 {
  float: left;
}
.b_76294 .container-fluid .b_82761__ .container .menu.menu-align-2,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu.menu-align-2 {
  float: right;
}
.b_76294 .container-fluid .b_82761__ .container .menu ul,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu ul {
  list-style: none;
  margin: 2px 0 0;
  padding: 0;
  text-align: left;
  font-family: "Open Sans", Arial, serif;
}
.b_76294 .container-fluid .b_82761__ .container .menu ul li,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu ul li {
  display: inline;
  margin: 0;
}
.b_76294 .container-fluid .b_82761__ .container .menu ul li a,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu ul li a {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b_76294 .container-fluid .b_82761__ .container .menu ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu ul li a.active,
.b_76294 .container-fluid .b_82761__ .container .menu ul li a:hover,
.b_76294 .container-fluid .b_82761__ .container .mobile-menu ul li a:hover {
  color: #7a7a7a;
}
.b_76294 .container-fluid .b_82761__ .container .span_btn {
  float: right;
  text-align: left;
  max-width: 100%;
}
.b_76294 .container-fluid .b_82761__ .container .span_btn .phone-wrap {
  min-width: 205px;
  margin-bottom: 5px;
  overflow: hidden;
}
.b_76294 .container-fluid .b_82761__ .container .span_btn .phone-wrap .phone-ico {
  display: block;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  margin: 0 5px 0 -2px;
  background: url(/_s/images/land/phone.png?v1) no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.3dppx) {
                                                                          .b_76294 .container-fluid .b_82761__ .container .span_btn .phone-wrap .phone-ico {
                                                                            background-image: url("/_s/images/land/phone.retina.png?v1");
                                                                            background-size: 25px 25px;
                                                                          }
                                                                        }
.b_76294 .container-fluid .b_82761__ .container .span_btn .phone-wrap span.phone {
  font-family: "Open Sans", Arial, serif;
  font-size: 21px;
  color: #000;
  display: inline-block;
  vertical-align: middle;
  word-break: break-word;
}
.b_76294 .container-fluid .b_82761__ .container .span_btn .phone-wrap:after {
  content: '';
  display: block;
  clear: both;
}
.b_76294 .container-fluid .b_82761__ .container .show-btn .menu {
  max-width: 450px;
}
.b_76294 .container-fluid .b_82761__ .container .show-btn .btn_wrap a {
  display: inline-block;
  min-width: 50px;
  max-width: 210px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 3px;
  background-color: #c1103a;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 15px;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  user-select: none;
}
.b_76294 .container-fluid .b_82761__ .container .show-btn .btn_wrap a:hover {
  opacity: 0.9;
}
.b_76294 .container-fluid .b_82761__.floating .container-fluid {
  transition: all 0.4s ease-out;
  position: fixed!important;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 5px #aaa;
}
.b_76294 .container-fluid .b_82761__.floating .container-fluid .container {
  padding: 5px 0;
  transition: all 450ms ease-out;
  overflow: hidden;
}
.b_76294 .container-fluid .b_82761__.floating .container-fluid .container .logo-holder .logo {
  height: 50px !important;
}

@media (max-width: 767px) {
  .b_76294 .container-fluid .b_82761__ .mobile-menu-button {
    display: block;
  }
  .b_76294 .container-fluid .b_82761__ .container {
    padding: 80px 0 30px;
  }
  .b_76294 .container-fluid .b_82761__ .container .menu-holder {
    display: none;
  }
  .b_76294 .container-fluid .b_82761__ .container .logo-holder,
  .b_76294 .container-fluid .b_82761__ .container .phone-holder {
    display: block;
    margin: 0 auto;
    padding: 0;
    float: none;
  }
  .b_76294 .container-fluid .b_82761__ .container .logo-holder {
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  .b_76294 .container-fluid .b_82761__ .container .logo-holder.text {
    width: 90%;
  }
  .b_76294 .container-fluid .b_82761__ .container .logo-holder.text .logo {
    min-height: 0;
    padding: 10px 0;
  }
  .b_76294 .container-fluid .b_82761__ .container .logo-holder .logo {
    background-position: center;
    margin: 0 auto;
    text-align: center;
  }
  .b_76294 .container-fluid .b_82761__ .container .logo-holder .logo-tagline {
    font-size: 13px;
  }
  .b_76294 .container-fluid .b_82761__ .container .phone-holder {
    width: 300px;
    margin-top: 15px;
  }
  .b_76294 .container-fluid .b_82761__ .container .phone-holder .span_btn {
    float: none;
    text-align: center;
    margin: 0;
  }
  .b_76294 .container-fluid .b_82761__ .container .phone-holder .span_btn .phone-wrap,
  .b_76294 .container-fluid .b_82761__ .container .phone-holder .span_btn .btn_wrap {
    display: inline-block;
    max-width: 340px;
  }
  .b_76294 .container-fluid .b_82761__ .container .phone-holder .span_btn .phone-wrap {
    margin-bottom: 15px;
  }
  .b_76294 .container-fluid .b_82761__ .container .phone-holder .span_btn .phone-wrap .phone-ico {
    margin-top: 4px;
  }
  .b_76294 .container-fluid .b_82761__ .container .phone-holder .span_btn .phone-wrap .phone {
    font-size: 25px;
  }
  .b_76294 .container-fluid .b_82761__ .container .phone-holder .span_btn .btn_wrap a {
    font-size: 14px;
    max-width: 340px;
    padding: 12px 30px;
  }
  .b_76294 .container-fluid .b_82761__ .container .mobile-menu-holder {
    display: block;
  }
  .b_76294 .container-fluid .b_82761__.floating {
    margin-bottom: 0 !important;
  }
  .b_76294 .container-fluid .b_82761__.floating div.container-fluid {
    position: static!important;
    box-shadow: none;
    border-bottom: 1px solid #e0e0e0;
  }
  .b_76294 .container-fluid .b_82761__.floating div.container-fluid .container {
    height: auto;
  }
}
